@model Billapong.Administration.Models.HighScore.ScoresViewModel

@if (Model.Scores.Any())
{
    <table class="list">
        <tr>
            <th>@Global.MapName</th>
            <th>@Global.PlayerName</th>
            <th>@Global.HighScore</th>
            <th>@Global.Timestamp</th>
            
            @if (Model.ShowDetailColumn)
            {
                <th></th>
            }
        </tr>

        @{ var odd = true; }
        @foreach (var highScore in Model.Scores)
        {
            <tr class="@(odd ? "odd" : "even")">
                <td>@highScore.MapName</td>
                <td>@highScore.PlayerName</td>
                <td>@highScore.Score.ToString()</td>
                <td>@highScore.Timestamp.ToString("dd.MM.yyyy HH:mm:ss.fff tt")</td>
                
                @if (Model.ShowDetailColumn)
                {
                    <td>@Html.ActionLink(Global.Details, "Map", new { id = highScore.MapId })</td>
                }
            </tr>

            odd = !odd;
        }

    </table>
}
else
{
    @Html.Raw(Global.CurrentlyNoHighScores)
}