<!DOCTYPE html>

<html>
<head>
    <title>@ViewBag.Title - Billapong</title>
    <link href="@Url.Content("~/Styles/main.css")" rel="stylesheet" type="text/css" />
</head>
<body>

    <div class="logo">
        <a href="~/">
            <pre>
 ____ ___ _     _        _    ____   ___  _   _  ____
| __ )_ _| |   | |      / \  |  _ \ / _ \| \ | |/ ___|
|  _ \| || |   | |     / _ \ | |_) | | | |  \| | |  _
| |_) | || |___| |___ / ___ \|  __/| |_| | |\  | |_| |
|____/___|_____|_____/_/   \_\_|    \___/|_| \_|\____|
            </pre>
        </a>
    </div>

    <div class="wrapper">
        <div class="navigation">
            <ul id="nav">
                <li>@Html.MenuLink(@Resources.Global.HomeTitle, "Index", "Home")</li>
                <li>@Html.MenuLink(@Resources.Global.TracingTitle, "Index", "Tracing")</li>
            </ul>
        </div>

        <div class="content">
            <h1>@ViewBag.Title</h1>

            @RenderBody()     
        </div>
    </div>
    
    <script src="@Url.Content("~/Scripts/jquery-1.10.2.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/main.js")" type="text/javascript"></script>

</body>
</html>
